```python
import os
import pandas as pd

def process_csv_files(folder_path):
    # Initialize empty DataFrames to store overall data and season information
    overall_df = pd.DataFrame()
    season_info_df = pd.DataFrame(columns=['File', 'Season_Start', 'Season_End'])

    # Iterate through all files in the folder
    for filename in os.listdir(folder_path):
        if filename.endswith(".csv"):
            file_path = os.path.join(folder_path, filename)

            # Read the CSV file into a DataFrame
            df = pd.read_csv(file_path)

            # Extract the earliest and oldest dates from the 'Date' column
            earliest_date = df['Date'].iloc[0]
            oldest_date = df['Date'].iloc[-1]

            # Append the overall data
            overall_df = pd.concat([overall_df, df], ignore_index=True)

            # Append season information to the season_info_df
            season_info_df = season_info_df.append({
                'File': filename,
                'Season_Start': earliest_date,
                'Season_End': oldest_date
            }, ignore_index=True)

    return overall_df, season_info_df
```
This Python code defines a function called `process_csv_files` that reads and processes multiple CSV files from a specified folder. The function returns two Pandas DataFrames: `overall_df` and `season_info_df`.

Let's break down the code:

1. Import necessary libraries:
   - `os`: Provides a way of interacting with the operating system, used for file operations.
   - `pandas as pd`: A powerful data manipulation library.

2. Define the `process_csv_files` function:
   - Takes a parameter `folder_path`, representing the path to the folder containing CSV files.

3. Initialize two empty DataFrames:
   - `overall_df`: To store the combined data from all CSV files.
   - `season_info_df`: To store information about each file, including the start and end dates of the seasons.

4. Iterate through all files in the specified folder:
   - Checks if each file has a '.csv' extension.
   - Reads the CSV file into a Pandas DataFrame (`df`).
   - Extracts the earliest (`earliest_date`) and oldest (`oldest_date`) dates from the 'Date' column of the DataFrame.

5. Appends data to `overall_df`:
   - Concatenates the current DataFrame (`df`) to the existing `overall_df` to combine data from all CSV files.

6. Appends season information to `season_info_df`:
   - Appends a new row to `season_info_df` for each processed file, including the file name, season start date, and season end date.

7. Returns the combined data DataFrame (`overall_df`) and the season information DataFrame (`season_info_df`).

8. Example usage:
   - Specifies the folder path (`folder_path`) where the CSV files are located.
   - Calls the `process_csv_files` function with the folder path.
   - Receives the results in two variables: `overall_data` (combined data from all files) and `season_info` (information about each season).

The code is designed to work with CSV files that have a 'Date' column, extracting season information based on the earliest and oldest dates in that column. The processed data can be further analyzed or visualized using Pandas and other data analysis libraries.

In [1]:
import os
import pandas as pd

def process_csv_files(folder_path):
    # Initialize empty DataFrames to store overall data and season information
    overall_df = pd.DataFrame()
    season_info_df = pd.DataFrame(columns=['File', 'Season_Start', 'Season_End'])

    # Iterate through all files in the folder
    for filename in os.listdir(folder_path):
        if filename.endswith(".csv"):
            file_path = os.path.join(folder_path, filename)

            # Read the CSV file into a DataFrame
            df = pd.read_csv(file_path)

            # Extract the earliest and oldest dates from the 'Date' column
            earliest_date = df['Date'].iloc[0]
            oldest_date = df['Date'].iloc[-1]

            # Append the overall data
            overall_df = pd.concat([overall_df, df], ignore_index=True)

            # Append season information to the season_info_df
            season_info_df = season_info_df.append({
                'File': filename,
                'Season_Start': earliest_date,
                'Season_End': oldest_date
            }, ignore_index=True)

    return overall_df, season_info_df

# Replace 'your_folder_path' with the actual path of your folder containing CSV files
folder_path = '../England/'
overall_data, season_info = process_csv_files(folder_path)

# Now you can use 'overall_data' and 'season_info' DataFrames as needed.

In [2]:
mapdict = {
    'E0.csv'    : '2022/2023',
    'E10.csv'   : '2021/2022',
    'E0 (1).csv': '2020/2021',
    'E0 (2).csv': '2019/2020',
    'E0 (3).csv': '2018/2019',
    'E0 (4).csv': '2017/2018',
    'E0 (5).csv': '2016/2017',
    'E0 (6).csv': '2015/2016',
    'E0 (7).csv': '2014/2015',
    'E0 (8).csv': '2013/2014',
    'E0 (9).csv': '2012/2013',
}

season_info['season'] = season_info['File'].map(mapdict)

In [3]:
overall_data

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,LBA,SJH,SJD,SJA,GBH,GBD,GBA,BSH,BSD,BSA
0,E0,12/09/2020,12:30,Fulham,Arsenal,0,3,A,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,E0,12/09/2020,15:00,Crystal Palace,Southampton,1,0,H,1,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,E0,12/09/2020,17:30,Liverpool,Leeds,4,3,H,3,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,E0,12/09/2020,20:00,West Ham,Newcastle,0,2,A,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,E0,13/09/2020,14:00,West Brom,Leicester,0,3,A,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4175,E0,22/05/2022,16:00,Crystal Palace,Man United,1,0,H,1,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4176,E0,22/05/2022,16:00,Leicester,Southampton,4,1,H,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4177,E0,22/05/2022,16:00,Liverpool,Wolves,3,1,H,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4178,E0,22/05/2022,16:00,Man City,Aston Villa,3,2,H,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4179,E0,22/05/2022,16:00,Norwich,Tottenham,0,5,A,0,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
def separate_data_by_year_format(overall_data, col='Date'):
    # Split the 'Season_Start' column and extract the last part as the year
    overall_data['year'] = overall_data[col].str.split('/').str[-1]

    # Convert the 'year' column to integer for numeric comparison
    overall_data['year'] = pd.to_numeric(overall_data['year'], errors='coerce')

    # Separate data based on whether the year has two or four digits
    two_digit_year_data = overall_data[overall_data['year'].between(0, 99, inclusive=True)]
    four_digit_year_data = overall_data[overall_data['year'] >= 1000]
    
    # Drop the year column from both dataframes
    two_digit_year_data.drop('year', axis=1, inplace=True)
    four_digit_year_data.drop('year', axis=1, inplace=True)
    
    # Convert the date column to datetype
    two_digit_year_data[col] = pd.to_datetime(two_digit_year_data[col], format='%d/%m/%y')
    four_digit_year_data[col] = pd.to_datetime(four_digit_year_data[col], format='%d/%m/%Y')
    
    # Concatenate the two dataframes
    df = pd.concat([two_digit_year_data, four_digit_year_data])
    return df

# Example usage
# Assuming 'season_info' is your DataFrame with the 'Season_Start' column
# Replace 'season_info' and 'Season_Start' with your actual DataFrame and column name
df = separate_data_by_year_format(overall_data)

C:\Users\HP\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:9: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated infavour of `both` or `neither`.
  if __name__ == "__main__":
C:\Users\HP\AppData\Roaming\Python\Python37\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,
C:\Users\HP\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  app.launch_new_instance()
C:\Users\HP\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [5]:
df['Date'].max()

Timestamp('2023-05-28 00:00:00')

In [6]:
season_info

          File Season_Start  Season_End     season
0   E0 (1).csv   12/09/2020  23/05/2021  2020/2021
1   E0 (2).csv   09/08/2019  26/07/2020  2019/2020
2   E0 (3).csv   10/08/2018  12/05/2019  2018/2019
3   E0 (4).csv   11/08/2017  13/05/2018  2017/2018
4   E0 (5).csv     13/08/16    21/05/17  2016/2017
5   E0 (6).csv   08/08/2015  17/05/2016  2015/2016
6   E0 (7).csv     16/08/14    24/05/15  2014/2015
7   E0 (8).csv     17/08/13    11/05/14  2013/2014
8   E0 (9).csv     18/08/12    19/05/13  2012/2013
9       E0.csv   05/08/2022  28/05/2023  2022/2023
10     E10.csv   13/08/2021  22/05/2022  2021/2022

In [7]:
season_info = separate_data_by_year_format(season_info, col='Season_Start')
season_info = separate_data_by_year_format(season_info, col='Season_End')

C:\Users\HP\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:9: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated infavour of `both` or `neither`.
  if __name__ == "__main__":
C:\Users\HP\AppData\Roaming\Python\Python37\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,
C:\Users\HP\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  app.launch_new_instance()
C:\Users\HP\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [8]:
season_info = season_info.sort_values("Season_Start")

In [9]:
season_info.drop("File", axis=1, inplace=True)

In [10]:
season_info.reset_index(drop=True, inplace=True)

In [11]:
season_info = season_info.reset_index()

In [12]:
season_info = season_info.rename(columns = {'index': 'season_index'})

In [13]:
overall_data

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,SJH,SJD,SJA,GBH,GBD,GBA,BSH,BSD,BSA,year
0,E0,12/09/2020,12:30,Fulham,Arsenal,0,3,A,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020
1,E0,12/09/2020,15:00,Crystal Palace,Southampton,1,0,H,1,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020
2,E0,12/09/2020,17:30,Liverpool,Leeds,4,3,H,3,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020
3,E0,12/09/2020,20:00,West Ham,Newcastle,0,2,A,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020
4,E0,13/09/2020,14:00,West Brom,Leicester,0,3,A,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4175,E0,22/05/2022,16:00,Crystal Palace,Man United,1,0,H,1,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022
4176,E0,22/05/2022,16:00,Leicester,Southampton,4,1,H,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022
4177,E0,22/05/2022,16:00,Liverpool,Wolves,3,1,H,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022
4178,E0,22/05/2022,16:00,Man City,Aston Villa,3,2,H,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022
4179,E0,22/05/2022,16:00,Norwich,Tottenham,0,5,A,0,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022

In [14]:
df = df.sort_values('Date')

Apologies for the oversight. I appreciate the clarification. If your season info DataFrame already has a column called 'season_index', you can directly merge the DataFrames using pandas' merge function. Here's an updated example:

```python
import pandas as pd

# Merge DataFrames based on date
merged_df = pd.merge_asof(df, season_info, left_on='Date', right_on='Season_Start', direction='backward')

# Display the result
print(merged_df)
```

In this example, `pd.merge_asof` is used to merge the DataFrames based on the 'date' column. The 'direction' parameter is set to 'backward' to match the closest season start date. Adjust the column names and data accordingly based on your actual DataFrames.

In [15]:
merged_df = pd.merge_asof(df, season_info, left_on='Date', right_on='Season_Start', direction='backward')

In [16]:
merged_df[merged_df['season_index']==0]["Date"].min()

Timestamp('2012-08-18 00:00:00')

In [17]:
merged_df.drop("Time", axis=1, inplace=True)

In [18]:
merged_df["Time"] = overall_data["Time"]

In [19]:
merged_df["Date"] = merged_df["Date"].dt.date

In [22]:
merged_df.drop('Div', axis=1, inplace=True)

In [23]:
merged_df

,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,Referee,...,GBD,GBA,BSH,BSD,BSA,season_index,Season_Start,Season_End,season,Time
0,2012-08-18,Arsenal,Sunderland,0,0,D,0,0,D,C Foy,...,4.6,9.00,1.40,4.33,8.50,0,2012-08-18,2013-05-19,2012/2013,12:30
1,2012-08-18,Fulham,Norwich,5,0,H,2,0,H,M Oliver,...,3.5,4.40,1.83,3.50,4.33,0,2012-08-18,2013-05-19,2012/2013,15:00
2,2012-08-18,Newcastle,Tottenham,2,1,H,0,0,D,M Atkinson,...,3.3,2.75,2.50,3.40,2.70,0,2012-08-18,2013-05-19,2012/2013,17:30
3,2012-08-18,QPR,Swansea,0,5,A,0,1,A,L Probert,...,3.4,3.60,2.00,3.40,3.60,0,2012-08-18,2013-05-19,2012/2013,20:00
4,2012-08-18,Reading,Stoke,1,1,D,0,1,A,K Friend,...,3.2,3.10,2.30,3.30,3.10,0,2012-08-18,2013-05-19,2012/2013,14:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4175,2023-05-28,Brentford,Man City,1,0,H,0,0,D,J Brooks,...,NaN,NaN,NaN,NaN,NaN,10,2022-08-05,2023-05-28,2022/2023,16:00
4176,2023-05-28,Aston Villa,Brighton,2,1,H,2,1,H,D Coote,...,NaN,NaN,NaN,NaN,NaN,10,2022-08-05,2023-05-28,2022/2023,16:00
4177,2023-05-28,Arsenal,Wolves,5,0,H,3,0,H,A Marriner,...,NaN,NaN,NaN,NaN,NaN,10,2022-08-05,2023-05-28,2022/2023,16:00
4178,2023-05-28,Chelsea,Newcastle,1,1,D,1,1,D,J Gillett,...,NaN,NaN,NaN,NaN,NaN,10,2022-08-05,2023-05-28,2022/2023,16:00
4179,2023-05-28,Southampton,Liverpool,4,4,D,2,2,D,D England,...,NaN,NaN,NaN,NaN,NaN,10,2022-08-05,2023-05-28,2022/2023,16:00